/* Estilos CSS para personalizar la apariencia */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-image: url('./../img/tokio.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 710px;
    background-attachment: fixed;
}

.header h1 {
    padding-top: 300px;
    font-size: 100px; /* Tamaño del texto */
    bottom: 0;
}

.menu {
    background-color: #555;
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

hr {
    border: 4px solid black;
}

.titulo1 {
    text-align: center;
    padding-bottom: 40px;
}

.columna-menu {
    display: flex;
    flex-wrap: wrap;
}

.contenedor {
    display: flex;
}

main {
    padding: 20px;
    width: 70%;
    background-color: yellow;
}

.places, .map {
    margin-bottom: 30px;
}

.news {
    float: right;
    width: 25%;
    padding: 20px;
    background-color: #ddd;
}

footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto en el footer */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}