/* Estilos CSS para personalizar la apariencia */

* {
    font-family: 'Kanit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('./../img/tokio.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header h1 {
    padding-top: 250px;
    font-size: 200px; /* Tamaño del texto */
    bottom: 0;
}

.index {
    margin: 5px;
    padding-left: 35px;
}

.carrousel {
    background-color: #555555c9;
    border-radius: 30px;
    height: 100px;
}

.menu {
    color: black;
    background-color: rgba(0,204,253,255);
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    position: sticky;
    top: 0;
    height: 100vh; /* Ajusta la altura del menú al 100% de la altura de la ventana */
    overflow-y: auto; /* Agrega un desplazamiento vertical si el contenido es más largo que la altura de la ventana */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu h1 {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
}

hr {
    border: 4px solid black;
}

.titulo1 {
    text-align: center;
    padding-bottom: 50px;
}

.titulo2 {
    text-align: center;
}

.columna-menu {
    display: flex;
    flex-wrap: wrap;
}

.contenedor {
    display: flex;
}

main {
    padding: 20px;
    width: 70%;
    background-color: rgba(0,204,253,255);
}

.news {
    float: right;
    width: 25%;
    padding: 20px;
    background-color: rgba(0,204,253,255);
}

.places, .map {
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255,52,179,255);
    padding-left: 40px;
    padding-bottom: 20px;
    color: white;
}

.galeria {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255,52,179,255);
    color: white;
}

.contenedor-carrousel {
    width: 95%;
    text-align: center;
    align-items: center;
    padding-left: 40px;
    padding-bottom: 35px;
}

.carousel {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.map {
    text-align: center;
}

.map h2 {
    padding-top: 30px;
    padding-bottom: 40px;
}

.columna1 {
    display: table-column;
    padding: 10px;
}

.columna2 {
    display: table-column;
    padding: 10px;
}

footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto en el footer */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    padding-top: 20px;
}

.imgnoticia {
    width: 100%;
}

.fechaimg {
    text-align: center;
}

.article {
    padding: 20px;
    background-color: rgba(255,52,179,255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.texto-carrousel {
    background-color: #555555d4;
}

iframe {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

ul > li > a{
    text-decoration: none;
    color: black;
}

ul > li > a:hover {
    background-color: red;
    border-radius: 5px;
    color: white;
}

.imglugar {
    width: 60%;
}

.lugar {
    text-align: center;
}